 
 @import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
 * {
    color:   #33ff00;
    text-shadow: 1px 0 10px #36cc10ec;
    font-family: "Silkscreen", sans-serif;
    font-weight: lighter;
  }
  #subtitle{
   
    text-align: center;
  }
  #title{
    text-align: center;
    color: #FFCC00;
    text-shadow: #ffae00ef;
    animation: colorSwitch 1s infinite;
  }
  @keyframes colorSwitch {
    0%, 49.9% {
      color: #33ff00; /* Green color */
  }
  50%, 100% {
      color: #FFCC00; /* Orange color */
  }
}
  body{
    background-color: black;
  }
  #footermain{

  position:absolute;
  bottom:0;
   
}
  #woa{
    text-align: center;
  }
  #latest{
     text-align: center;
    
  }
 
  
  .mainbox{
    display: flex;
   
  }

  .boxmain{
    flex: 0.5; 
    border: 2px solid #33ff00;
   

  }
 
  #news { 
    margin-top: 90;
    text-align: center;
  }
  #recent{
    margin-top: 90;
    text-align: center;
     
  }